{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Blog Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/index.css' %}">
</head>
<body>
    <h1>All Blog Posts</h1>

    {% for post in latestPosts %}
    <div class="post">
        <h2><a href="{% url 'blog:details' post.pk %}">{{ post.title }}</a></h2>
        <p>by {{ post.author }} on {{ post.created|date:"M d, Y" }}</p>
        <p>{{ post.content|truncatewords:30 }}</p>
    </div>
    {% empty %}
        <p>No posts yet.</p>
    {% endfor %}


    <a href="{% url 'blog:create' %}" class="create-post">+ Create New Post</a>

    <br><br>
    {% if user.is_authenticated %}
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% endif %}
</body>
</html>
